.global{
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    background-color: #142226;
}
.global-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: white;
    border-style: solid;
    border-color: limegreen;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px limegreen;
    justify-content: center;
}
.global-form{
    margin: auto;
    width: 80%;
}
